@{
  Layout = "_Layout";
}

@using PierreTreats.Models
@model Flavor

<h1>@Html.DisplayFor(flavor =>flavor.Name) Details</h1>

@if (@Model.JoinTreat.Count == 0)
{
  <p>No treats are using this flavor</p>
}

else
{
  <h3>Treats using this flavor</h3>
  @foreach (var treat in Model.JoinTreat)
  {
    @Html.ActionLink($"{treat.Treat.Name}", "Details", "Treats", new { id = treat.Treat.TreatId })
  }
}
<div id="edit-button-div">
  <button type="button" class="btn btn-dark" id="edit-button">Edit flavor</button>
</div>
<div id="edit-form-div" class="hidden">
  @using(Html.BeginForm("Edit", "Flavors", FormMethod.Post))
  {
    <ul>
    @Html.HiddenFor(model => model.FlavorId)
    <li>@Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)</li>
    </ul>
    <input type="submit", value="Edit flavor", class="btn btn-dark"/>
    <button type="button" class="btn btn-dark" id="stop-edit-button">Cancel edit</button>
  }
</div>

<div id="delete-button-div">
  <button type="button" class="btn btn-dark" id="delete-button">Delete flavor</button>
</div>
<div id="delete-confirm-div" class="hidden">
  @using(Html.BeginForm("Delete", "Flavors", FormMethod.Post))
  {
    @Html.HiddenFor(model => model.FlavorId)
    <input type="submit" value="Confirm Delete Flavor", class="btn btn-dark"/>
    <button type="button" class="btn btn-dark" id="stop-delete-button">Cancel delete</button> 
  }
</div>


<script src="~/js/buttonactions.js"></script>